/* Footer */

.landing-footer {
  border-top: 1px solid #e6ebf1;
}


  .landing-footer-content {
    min-height: 95px;

    flex-direction: column;

    justify-content: center;

    gap: 7px;

    text-align: center;
  }

